# MongoDB
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/consentido

# PayPal (link PayPal.me) - solo para construir el enlace en el frontend
VITE_PAYPAL_ME_USERNAME=tu_usuario_paypal

# Admin (para confirmar pagos)
ADMIN_TOKEN=tu_token_secreto

# Google Calendar
GOOGLE_CALENDAR_ID=xxx@group.calendar.google.com
GOOGLE_SERVICE_ACCOUNT_EMAIL=xxx@xxx.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
